<footer class="text-center text-lg-start text-dark customFooter mt-4">
  <section
    class="d-flex justify-content-between p-4 text-white customFooterSection"
  >
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="customText">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Milky</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto customUnderline" />
          <p>
            Your source for pure, organic dairy goodness. Happy cows, healthier
            you
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Business Hours</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto customUnderline" />
          <p>Monday To saturday</p>
          <p>6 AM To 9 Pm</p>
          <p>Sunday</p>
          <p>6 Am To 12 Pm</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto customUnderline" />
          <p>
            <a href="#!" class="text-dark">Shipping Rates</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Help</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto customUnderline" />
          <p><i class="fas fa-home mr-3"></i> Plot Number 123, Chandigarh</p>
          <p><i class="fas fa-envelope mr-3"></i> info1@milky.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 91 **********</p>
          <p><i class="fas fa-print mr-3"></i> 1800 102-102</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-3 customCopyright customText">
    © 2023 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
